# Rust
/core/target/
**/*.rs.bk
Cargo.lock

# Android
/android/.gradle/
/android/build/
/android/app/build/
/android/app/.cxx/
/android/local.properties
*.iml
.idea/

# Generated
*.so
*.a
*.dylib

# ROM files (copyrighted, must be user-provided)
*.rom
*.ROM

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.vscode/
